#closeBook {
    color:white;
    font-weight: bolder;
    font-size: 150px;
    text-shadow: 3px 3px black;
}

#bookTitle{
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2306&q=80");
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
}
#readBook{
    background-image: url("https://images.unsplash.com/photo-1515707743625-2f8e5fd8f8b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
    background-position-y: -200px;
}

#openBook{
    display: none;
}
/* #closeBook{
    display: inline;
} */

.display-4{
    font-family: 'Monsieur La Doulaise', cursive;
    font:bold;
    font-size: 150px;
}

.lead{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 26px;
}

#authInput{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:28px;
    text-align: center;
    box-shadow: 3px 3px black;
}

.container {
    border: 0px;
    border:hidden;
}

.container-fluid {
  position: absolute;
  z-index: 10;
}

.jumbotron {
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: transparent;
  padding: 10px 100px 30px 115px;
  text-align: center;

}

.sbar {
    width: 300px;
    margin: 0 auto;
}

#displayP {
    color: black;
    font-weight: bolder;
    height: 450px;
    width: 700px;
    overflow: auto;
    cursor: pointer;
    padding-left: 125px;

}


#display {
    color: black;
    font-weight: bolder;
    height: 450px;
    width: 700px;
    overflow: auto;
    margin-left: 50px;
}

#page2 {
    float: right;
    overflow: auto;
    height: 450px;
    width: 700px;
    padding-left: 100px;
}

#titleFront {
    margin: 189px 5px 5px 35px;
    color: white;
    
}

#obTitle {
    text-align: left;
    font-size: 60px;
    float:left;
    margin: 60px 0 0 -130px;
    padding: 0;

}

#obPara {
   display: none;
}

.obSearch{
    float:right;
    margin: 75px 250px 0 0;
    width: 600px;
    z-index: 1;
}





/* OLD CSS*/
/* #openBook {
    display:none;
}
#bookTitle{
    background-image: url("https://media.istockphoto.com/photos/old-book-on-the-desk-picture-id478177344?k=6&m=478177344&s=612x612&w=0&h=3LV82UtmkGIruCOjTUWRMZRbXIjLC77ytdE2y6pSPEI=");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
} */
/* #readBook{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/1fd35520-edec-468a-bdc6-7a181ba081eb/day1sn-838eafe5-290e-4e7d-a044-eb640bc68ce0.jpg/v1/fill/w_1037,h_770,q_70,strp/old_book_by_mrs_robinson_day1sn-pre.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
}
#closeBook {
    display:none;
}


.display-4{
    font-family: 'Monsieur La Doulaise', cursive;
    font:bold;
}

.lead{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 26px;
}

#Authinput{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:28px;
    text-align: center;
}

.container {
    border: 0px;
    border:hidden;
}

.container-fluid {
  position: absolute;
  z-index: 10;
}

.jumbotron {
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: transparent;
  padding: 135px 100px 30px 115px;
  text-align: center;

}

.sbar {
    width: 300px;
    margin: 0 auto;
}

#displayP {
    color: black;
    font-weight: bolder;
    height: 450px;
    width: 700px;
    overflow: auto;
    cursor: pointer;
    padding-left: 125px;

}

#readBook {
    padding: 10px 55px;
    background-size: 99%;
}

#display {
    color: black;
    font-weight: bolder;
    height: 450px;
    width: 700px;
    overflow: auto;
    margin-left: 50px;
}

#page2 {
    float: right;
    overflow: auto;
    height: 450px;
    width: 700px;
    padding-left: 100px;
}

#titleFront {
    margin: 280px 5px 5px 35px;
    color: lightslategrey;
    
}

#cbTitle{
    font-size: 65px;
}

#cbPara{
    font-size: 13px;
}

body {
    margin: 10px;
}
 */
