.display-4{
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 99px;
    font:bold;
}

.lead{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 26px;
}

#Authinput{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:28px;
    text-align: center;
}

.container {
    border: 0px;
    border:hidden;
}

.container-fluid {
  position: absolute;
  z-index: 10;
}

.jumbotron {
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: transparent;
}

.jumbotron {
  padding: 30px 100px 30px 100px;
  text-align: center;
}

.sbar {
    width: 300px;
    margin: 0 auto;
}

.displayP {
    color: black;
    font-weight: bolder;
    opacity: 100%;
    cursor: pointer;
}

body {
    padding: 10px 55px;
    background-size: 99%;
}

#display {
    height: 450px;
    width: 700px;
    overflow: auto;
}

#page2 {
    float: right;
    overflow: auto;
    height: 450px;
    width: 700px;
}

